@tailwind utilities;

/* Sticky Footer */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

#main-header {
  background: #DC3545 !important;
}

#main-header a {
  color: white !important;
}